[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
python-dotenv = "*"
pytest = "*"
mock = "*"
gunicorn = "*"
toml = "*"
pytest-mock = "*"

[dev-packages]
pytest = "*"
pymongo = "*"
pandas = "*"

[requires]
python_version = "3.11"
